.js--animate-3 {
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}

.js--animate-7 {
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}

.js--nav-container {
    opacity: 0;

    &.animated {
        opacity: 1;
    }
}