/* ------------------------------- */
/* app-show */
/* ------------------------------- */

.app-show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__left {
        margin-right: 4rem;
        & > img {
            width: 23rem;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4rem;
        & h1 {
            color: $color-primary;
        }
    }

    &__text {

        & p {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.app-refer {
    &__btn {
        & > img {
            height: 6rem;

            &:hover {
                filter: opacity(0.9);
            }
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}