/* ------------------------------- */
/* app-show */
/* ------------------------------- */

.app-show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;

    &__left {
        margin-right: 0rem;
        text-align: center;

        @include breakpoint(md) {
            text-align: right;
            margin-right: 4rem;
        }

        & > img {
            width: 18rem;

            @include breakpoint(md) {
                width: 23rem;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0rem;
        text-align: center;

        @include breakpoint(md) {
            text-align: left;
            margin-left: 4rem;
        }

        & h1 {
            color: $color-primary;
        }
    }

    &__text {

        & p {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.app-refer {
    &__btn {
        & > img {
            height: 6rem;

            &:hover {
                filter: opacity(0.9);
            }
        }

        &:not(:last-child) {
            margin-right: 0rem;

            @include breakpoint(md) {
                margin-right: 3rem;
            }
        }
    }
}