/* ------------------------------- */
/* Layout */
/* ------------------------------- */

.container {
    max-width: 100vw;
}

.section {
    width: 100%;
    padding: 1.25rem;
    border-bottom: 1px solid black;
}

.section-home {
    padding: 1.25rem 4rem;
}

.section-features {
    padding: 5rem 0rem;
}

.section-HIW {
    padding: 4rem;
    background-color: #f4f4f4;
}

.section-testimonials {
    padding: 5rem 0;
}

.section-form {
    padding: 5rem 1rem;
}