/* ------------------------------- */
/* How It Works Section */
/* ------------------------------- */

.HIW {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -5rem;
    padding: 0 1rem;

    @include breakpoint(md) {
        padding: 0;
        flex-wrap: nowrap;
    }

    &__app {
        margin-top: 5rem;

        @include breakpoint(md) {
            margin-right: 4rem; 
        }

        &__img {
            width: 18rem;

            @include breakpoint(md) {
                width: 22rem;
            }
        }
    }

    
    &__steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
        margin-left: 4rem; 

        @include breakpoint(md) {
            margin-left: 0; 
        }

        @include breakpoint(lg) {
            margin-left: 4rem; 
        }
    }

    &__step {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        @include breakpoint(md) {
            margin-bottom: 4rem;
        }

        &__number {
            display: inline-block;
            font-size: 2rem;
            font-weight: 400;
            width: 4rem;
            color: $color-primary-dark;
            border-right: 3px solid $color-primary-dark;
            border-radius: 50%;
            text-align: center;
            margin-right: 1.5rem;
            flex-shrink: 0;

            @include breakpoint(md) {
                font-size: 3rem;
                width: 5rem;
            }
        }

        &__desc {
            display: inline;
            font-size: 1.6rem;

            @include breakpoint(md) {
                font-size: 2.2rem;
                word-spacing: 4px;
                letter-spacing: 1px;
            }
        }

    }

}