.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/testimonials-back.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: $color-grey-light-1;
}

.testimonials {
    display: grid;
    margin: 0rem 2rem;
    grid-gap: 3rem;
    grid-template-columns: 1fr;

    @include breakpoint(sm) {
        margin: 0rem 8rem;
    }

    @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
        margin: 0rem 10rem;
        grid-gap: 7rem;
        padding: 7.1rem 0 4rem 0;
    }

    &__customer {
        font-size: 1.6rem;
        position: relative;

        display: grid;
        grid-template-rows: 4rem 1fr auto;
        grid-template-columns: 1fr;
        grid-gap: 3rem;

        @include breakpoint(md) {
            font-size: 2rem;
            grid-template-rows: 6rem 1fr auto;
        }

        @include breakpoint(lg) {
            grid-template-columns: 1fr;
        }

        &__text {
            font-style: italic;

            @include breakpoint(lg) {
                text-align: justify;
            }
        }

        
        &__info {
            display: block;
            text-align: right;

            @include breakpoint(lg) {
                margin-right: .5rem;
            }

            & > img {
                border-radius: 50%;
                width: 5rem;
            }
        }

    }
}

.quote::before {
    content: "\201C";
    font-size: 500%;
    font-style: italic;
}