/* ------------------------------- */
/* HEADINGS */
/* ------------------------------- */
.heading-1 {
    font-family: $font-display;
    font-size: 8rem;
    letter-spacing: 1px;
}

.heading-3 {
    font-family: $font-display;
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}