/* ------------------------------- */
/* HEADINGS */
/* ------------------------------- */
.heading-1 {
    font-family: $font-display;
    font-size: 8rem;
    letter-spacing: 1px;
}

.heading-2 {
    font-family: $font-display;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;

    @include breakpoint(md) {
        font-size: 4rem;
    }

    &::after {
        content: "";
        display: block;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, $color-primary-light 50%,rgba(255,255,255,0) 100%);
        height: 2px;
        width: 25rem;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.heading-3 {
    font-family: $font-display;
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.heading-4 {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.long-copy {
    font-size: 1.8rem;
    width: 70%;
    margin: 0 auto;
    line-height: 3.5rem;
}