// COLOR VARIABLES
$color-primary: rgb(48, 175, 2);
$color-primary-light: rgb(66, 197, 0);
$color-primary-dark: rgb(18, 122, 0);
$color-secondary: #FF6200;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Merienda', cursive;
